@CHARSET "ISO-8859-1";
.logo-header{
	
	height: 5em;
    width: 35em;
}

.bg-blue{
	
	background-color: #3661B1;
	height: 600px;
	
}

.text-inverse-blue{
	
	color: #fff;
	
}

.width-full{
	
	 width: 100%;
}

.menuFooter a{
	
	font-size: 12px;
	
}

.jumbotron-form{
	
	 padding: 15px 25px;
	   background-color: #3661B1;
    color: #FFA500;
    margin-bottom: 15px;

	 
}